body {
  background-color: #3a405a;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #c6d8d3;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  position: sticky; // Gjør headeren sticky
  top: 0; // Plasserer headeren på toppen
  z-index: 1000; // Sørger for at headeren er over annet innhold
}

.student-card {
  background-color: #c6d8d3;
  color: #333;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 1rem;
  width: 200px;
  display: inline-block;
}

.teachers-card {
  background-color: #c6d8d3;
  color: #333;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 1rem;
  width: 200px;
  display: inline-block;
}

.link-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0.5rem; // Legger til mellomrom mellom knappene
  text-decoration: none; // Fjerner understrekning fra lenker
  display: inline-block; // Sørger for at lenkene vises som knapper
}

.link-button:hover {
  background-color: #0056b3;
}

.Car-card {
  background-color: #c6d8d3;
  color: #333;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 1rem;
  width: 200px;
  display: inline-block;
}

.City-card {
  background-color: #c6d8d3;
  color: #333;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 1rem;
  width: 200px;
  display: inline-block;
}

article {
  background-color: #c6d8d3;
  color: #333;
  padding: 1rem; // Juster padding etter behov
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0.5rem auto; // Reduserer margin for å fjerne stort mellomrom
  width: 90%; // Gjør bredden responsiv
  max-width: 800px; // Setter en maksimal bredde
  display: block; // Sørger for at artikkelen vises som en blokk
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.click-button {
  margin-right: 1rem; // Legger til mellomrom mellom knappene
}
